.App {
    text-align: center;
    background-color: #545351;
    font-family: "Times New Roman", Times, serif;
}

.App-header {
    background-color: #545351;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}